@import "normalize.css/normalize.css";
@import "@gopowerteam/base-style.css";
@import "./element-plus-customer";
@import "./common";

.data-form {
	padding: 24px 16px 6px 16px;
}

.data-box {
	padding: 24px 16px;
}

.data-box_actions {
	padding: 24px 16px 0 16px;
	// 如果databox 和 databox-action
	+ .data-box {
		padding-top: 14px;
	}
}
